@font-face {
    font-family: avenir regular;
    src: url(../fonts/avenirnextregular.otf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: avenir medium;
    src: url(../fonts/avenirnextmedium.otf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: avenir next;
    src: url(../fonts/avenirnextbold.otf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: avenir demi;
    src: url(../fonts/avenirnextdemibold.otf);
    font-weight: 400;
    font-style: normal
}

* {
    margin: 0
}

a, a:hover {
    text-decoration: none;
    color: #3e9fff
}

li, p {
    margin-top: 10px;
    margin-bottom: 10px
}

p {
    font-family: avenir medium
}

loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center
}

body {
    margin: 0
}

.mainPage {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    display: none
}

.mainContent, .mainPage {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0
}

.mainContent {
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center
}

.mainContent, .mainContent .tab-content {
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center
}

.mainContent .tab-content {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none
}

.mainContent .tab-content.active {
    display: block
}

.link-item > a:hover, .logo > img:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out
}

.color-1 {
    color: #3edbff
}

.color-2 {
    color: #88f
}

.color-3 {
    color: #ff6cce
}

.color-4 {
    color: #ff9327
}

.fallback, .fallback .bkgd {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.fallback .bkgd {
    z-index: -1;
    background-image: url(../images/pattern.png);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .2)), to(transparent))
}

.fallback .fallback-content {
    z-index: 2;
    height: 100%;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.fallback .fallback-content, .fallback .fallback-content .title {
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center
}

.fallback .fallback-content .title {
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: avenir next;
    font-size: 6.5vw
}

.fallback .fallback-content .holla-box {
    margin-top: 2vw;
    z-index: 20;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 35vw;
    width: 35vw
}

.fallback .fallback-content .download-box {
    margin-top: 50vw;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 18vw;
    width: 65vw
}
.copyright {
    color: #fff;
}
.copyright a ,.copyright span {
    padding: 0 20px;
    white-space: nowrap;
}
.copyright a {
    color: #fff;
}

@media (max-width: 414px) {
    header {
        -moz-justify-content: justify;
        justify-content: justify; /*!* Add this *!*/
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 20px;
        position: fixed;
        top: 0;
        z-index: 50
    }

    .menu, header {
        background: #61d0e9;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        width: 100%
    }

    .menu {
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid transparent;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -moz-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    .logo {
        -moz-flex-grow: 3;
        -ms-flex-positive: 3;
        flex-grow: 3
    }

    .logo img {
        width: 20vh
    }

    .topbar {
        position: fixed;
        top: 0;
        z-index: 99999;
    }

    .logoformatch {
        display: none
    }

    .logoformatch2 {
        position: absolute;
        text-align: center;
        width: 100%
    }

    .links {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row /*!* Add this *!*/
    }

    .link-item, .links {
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center
    }

    .link-item {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        display: block; /*!* Add this *!*/
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        border: 0;
        -ms-flex-align: right;
        align-items: right
    }

    .link-item img {
        width: 120px
    }

    main {
        margin-top: 10px;
        -moz-flex: 2 0 auto;
        -ms-flex: 2 0 auto;
        flex: 2 0 auto;
        margin-top: 10vh
    }

    main, main .content-container {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        -moz-justify-content: justify;
        justify-content: justify;
        -ms-flex-align: justify;
        -moz-align-items: justify;
        align-items: justify;
    }

    main .content-container {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    main .left {
        position: relative;
        padding: 20px
    }

    main .left, main .left > .phone {
        padding-bottom: 50px;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    main .left > .phone > video {
        height: 70%;
        width: 80%;
        z-index: 11;
        border-radius: 10px
    }

    main .left > .phone > img, main .left > .phone > video {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        position: relative
    }

    main .left > .phone > img {
        position: absolute;
        z-index: 10;
        width: 80%;
        margin-left: 0;
    }

    main #video-audio {
        position: absolute;
        z-index: 10;
        top: 15%;
        left: 2em;
        cursor: pointer;
        z-index: 12;
        display: none
    }

    main #video-audio-on {
        display: block
    }

    main #video-audio-off {
        display: none
    }

    main .right {
        margin-top: 1em;
        z-index: 10
    }

    .banner, main .right {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .banner, .banner .banner-text, main .right {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    .banner .banner-text {
        width: auto;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .banner .banner-text-normal {
        min-height: 90px;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: block
    }

    .banner .banner-text-normal > span {
        width: 100%;
        font-size: 2.2em;
        font-family: avenir next;
        color: #413c4d
    }

    .banner .banner-footer {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-align: end;
        -moz-align-items: flex-end;
        align-items: flex-end;
        cursor: pointer;
        margin-top: 10px
    }

    .banner .banner-footer > a > img {
        background-color: #fff;
        border-radius: 5px;
        padding: 5px;
        margin: 5px
    }

    footer {
        margin-top: 30px
    }

    .footer, footer {
        position: relative;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .footer {
        margin-top: 65%
    }

    .menu-footer {
        border-top: 25px solid #3e9fff;
        border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -webkit-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -o-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 30px
    }

    .menu-footer a, .menu-footer a:hover {
        float: right;
        color: #fff
    }

    .menu-footerformatch {
        float: bottom;
        border-top: 25px solid #3e9fff;
        border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -webkit-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -o-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 80px;
        bottom: -5px
    }

    .menu-footerformatch a, .menu-footerformatch a:hover {
        color: #fff
    }

    .footer-items {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center
    }

    .footer-item, .footer-items {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .footer-item {
        color: #fff;
        font-size: 1.2em;
        font-family: avenir demi;
        text-decoration: none;
        padding: 10px;
        text-align: center
    }

    .mainContent main {
        -moz-flex: 2 0 auto;
        -ms-flex: 2 0 auto;
        flex: 2 0 auto;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 8vh
    }

    .mainContent main .matchcontent {
        margin-top: 5vh;
        text-align: center;
        -ms-flex-line-pack: center;
        align-content: center;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        width: 90%
    }

    .mainContent main .matchcontent .title {
        color: #c6bfbd;
        font-size: 8vw;
        font-family: avenir demi
    }

    .mainContent main .matchcontent .matchcounts {
        color: #413c4d;
        font-size: 12vw;
        font-family: avenir next
    }

    .mainContent .matchcounts-custom-header {
        margin-top: 1vh;
        margin-bottom: 10vh
    }

    .mainContent .matchcounts-custom-header img {
        width: 15vh
    }

    .mainContent .number {
        max-width: 50px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%)
    }

    .mainContent .content {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 15px
    }

    .mainContent .content h2 {
        font-size: 2em;
        color: #ffffff;
        font-family: avenir demi;
        margin-top: 20px;
        margin-bottom: 15px
    }

    .mainContent .content h4 {
        font-size: 1.2em;
        color: #ffffff;
        font-family: avenir next;
        margin-top: 30px
    }

    .mainContent .content .text {
        font-size: 1em;
        color: #fff;
        margin-top: 20px;
        text-align: justify;
        text-justify: inter-word
    }

    .mainContent .content .text, .mainContent .content .text p {
        font-family: avenir regular
    }

    .mainContent .content .text ul {
        list-style-type: none;
        padding: 0
    }

    .mainContent .content .text li {
        padding-left: 10px
    }

    .mainContent .content .float-menu {
        width: 100%;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 50px
    }

    .mainContent .content .float-menu .menu-list {
        position: relative;
        display: inline;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        width: 100%
    }

    .mainContent .content .float-menu .menu-list .menu-item {
        list-style-type: none;
        font-family: avenir medium;
        font-size: 4.8vw;
        text-align: center;
        cursor: pointer;
        padding: 0 100;
        width: 50%;
        margin: 0
    }

    .mainContent .content .float-menu .menu-list #menu-item-underline {
        position: absolute;
        width: 50%;
        height: 3px;
        border: none;
        bottom: 0;
        left: 0;
        transition: .5s
    }

    .mainContent .content .float-menu .menu-list #menu-item-underline hr {
        height: 3px;
        border: 0;
        background-color: #3e9fff;
        width: 80%;
        margin: auto
    }

    .mainContent .content .float-menu .menu-list .active {
        color: #3e9fff;
        font-family: avenir next
    }
}

@media (min-width: 415px) and (max-width: 768px),(min-width: 415px) and (orientation: portrait) {
    header {
        background: #61d0e9;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        color: #fff;
        padding: 10px 0;
        min-height: 70px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 50
    }

    .header-simple {
        min-height: 150px
    }

    .mainContent main {
        -moz-flex: 2 0 auto;
        -ms-flex: 2 0 auto;
        flex: 2 0 auto;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px
    }

    .mainContent .content, .mainContent main {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -moz-flex-direction: column;
        -ms-flex-direction: column
    }

    .mainContent .content {
        -ms-flex-align: start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px
    }

    .mainContent .content h2 {
        font-size: 2em;
        color: #ffffff;
        font-family: avenir demi;
        margin-top: 10px;
        margin-bottom: 20px
    }

    .mainContent .content h4 {
        font-size: 1.2em;
        color: #ffffff;
        font-family: avenir next;
        margin-top: 30px
    }

    .mainContent .content .text {
        font-size: 1em;
        color: #fff;
        margin-top: 20px;
        text-align: justify;
        text-justify: inter-word
    }

    .mainContent .content .text, .mainContent .content .text p {
        font-family: avenir regular
    }

    .mainContent .content .text ul {
        list-style-type: none;
        padding: 0
    }

    .mainContent .content .text li {
        padding-left: 10px
    }

    .mainContent .content .float-menu {
        width: 100%;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 50px
    }

    .mainContent .content .float-menu .menu-list {
        position: relative;
        display: inline;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        width: 70%
    }

    .mainContent .content .float-menu .menu-list .menu-item {
        list-style-type: none;
        font-family: avenir medium;
        font-size: 1.2em;
        text-align: center;
        cursor: pointer;
        padding: 0 100;
        width: 70%;
        margin: 0
    }

    .mainContent .content .float-menu .menu-list #menu-item-underline {
        position: absolute;
        width: 50%;
        height: 3px;
        border: none;
        bottom: 0;
        left: 0;
        transition: .5s
    }

    .mainContent .content .float-menu .menu-list #menu-item-underline hr {
        height: 3px;
        border: 0;
        background-color: #3e9fff;
        width: 75%;
        margin: auto
    }

    .mainContent .content .float-menu .menu-list .active {
        color: #3e9fff;
        font-family: avenir next
    }

    .mainContent .matchcounts-custom-header {
        margin-top: 10vh;
        margin-bottom: 5vh
    }

    .mainContent .matchcounts-custom-header img {
        width: 20vh
    }

    .menu {
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid transparent;
        width: 100%;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        -moz-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    .logo {
        -moz-flex-grow: 3;
        -ms-flex-positive: 3;
        flex-grow: 3
    }

    .logo img {
        width: 130px
    }

    .logoformatch {
        margin: 0;
        -moz-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        height: 5%
    }

    .logoformatch img {
        width: 250px
    }

    .logoformatch2 {
        display: none
    }

    .links {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row /*!* Add this *!*/
    }

    .link-item, .links {
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center
    }

    .link-item {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        display: block; /*!* Add this *!*/
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        border: 0;
        -ms-flex-align: right;
        align-items: right
    }

    .link-item img {
        width: 120px
    }

    main {
        -moz-flex: 2 0 auto;
        -ms-flex: 2 0 auto;
        flex: 2 0 auto;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: stretch;
        -moz-justify-content: stretch;
        justify-content: stretch;
        -ms-flex-align: stretch;
        -moz-align-items: stretch;
        align-items: stretch;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-top: 15vh
    }

    main .content-container {
        -ms-flex-pack: stretch;
        -moz-justify-content: stretch;
        justify-content: stretch;
        -ms-flex-align: stretch;
        -moz-align-items: stretch;
        align-items: stretch;
        padding: 30px;
        margin-top: 30px
    }

    main .content-container, main .left {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative
    }

    main .left, main .left > .phone > img {
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    main .left > .phone > img {
        position: relative;
        z-index: 13;
        height: 100%;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 323px;
        height: 660px
    }

    main #poster-img, main .left > .phone > img, main .left > .phone > video {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    main #poster-img, main .left > .phone > video {
        position: absolute;
        top: 48px;
        height: 550px;
        width: 300px;
        z-index: 11;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin: auto
    }

    main #video-audio {
        position: absolute;
        z-index: 10;
        top: 15%;
        left: 2em;
        cursor: pointer;
        z-index: 12;
        display: none
    }

    main #video-audio-on {
        display: block
    }

    main #video-audio-off {
        display: none
    }

    main .right {
        margin-top: 2em;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        z-index: 10;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: stretch;
        -moz-justify-content: stretch;
        justify-content: stretch;
        -ms-flex-align: stretch;
        -moz-align-items: stretch;
        align-items: stretch
    }

    main .matchcontent {
        position: relative;
        width: 100%;
        text-align: center
    }

    main .matchcontent .title {
        color: #c6bfbd;
        font-size: 6vh;
        font-family: avenir demi
    }

    main .matchcontent .matchcounts {
        color: #413c4d;
        font-size: 10vh;
        font-family: avenir next
    }

    .banner {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: stretch;
        -moz-align-items: stretch;
        align-items: stretch
    }

    .banner, .banner .banner-text {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    .banner .banner-text {
        width: auto;
        -moz-flex-grow: 10;
        -ms-flex-positive: 10;
        flex-grow: 10;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .banner .banner-text-normal {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        display: block
    }

    .banner .banner-text-normal > span {
        font-size: 7vw;
        font-family: avenir next;
        color: #413c4d
    }

    .banner .banner-footer {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-align: end;
        -moz-align-items: flex-end;
        align-items: flex-end;
        cursor: pointer
    }

    .banner .banner-footer > a > img {
        background-color: #fff;
        border-radius: 5px;
        padding: 5px;
        margin: 5px
    }

    footer {
        margin-top: 30px
    }

    .footer, footer {
        position: relative;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .footer {
        margin-top: 65%
    }

    .menu-footer {
        border-top: 25px solid #3e9fff;
        border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -webkit-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -o-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        padding: 20px
    }

    .menu-footer a, .menu-footer a:hover {
        color: #fff
    }

    .menu-footerformatch {
        border-top: 25px solid #3e9fff;
        border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -webkit-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -o-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 10vw;
        bottom: -5px
    }

    .menu-footerformatch a, .menu-footerformatch a:hover {
        color: #fff
    }

    .footer-items {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    .footer-item, .footer-items {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .footer-item {
        color: #fff;
        font-size: 1.1em;
        font-family: avenir demi;
        text-decoration: none;
        padding: 10px
    }
}

@media (min-width: 769px) and (orientation: landscape) {
    .waveline-left {
        overflow-x: hidden;
        position: absolute;
        display: inline-block;
        background-image: url(//www.holla.world/images/wavy.svg);
        background-repeat: repeat-x;
        height: 14px;
        left: 0
    }

    .waveline-fly-left-end {
        left: 120%
    }

    .transition-fly {
        transition: 30s linear
    }

    .transition-appear {
        transition: 2.3s ease-in-out
    }

    .waveline-right {
        overflow-x: hidden;
        display: inline-block;
        position: absolute;
        background-image: url(//www.holla.world/images/wavy.svg);
        background-repeat: repeat-x;
        height: 14px;
        right: 0
    }

    .waveline-fly-right-end {
        right: 120%
    }

    #waveline1 {
        top: 30%;
        width: 185px;
        right: -185px
    }

    #waveline2 {
        top: 50%;
        width: 140px;
        left: -140px
    }

    #waveline3 {
        top: 80%;
        width: 105px;
        right: -105px
    }

    .mainPage header {
        position: relative;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        background-image: green;
        min-height: 90px;
        color: #fff;
        width: 100%;
        padding-top: 20px
    }

    .mainPage header, .mainPage header .menu {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    .mainPage header .menu {
        position: inherit;
        border: 1px solid transparent;
        padding: 5px;
        margin-left: 50px;
        margin-right: 50px;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-pack: start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        margin-top: -200px
    }

    .mainPage header .logo {
        margin: 0;
        -moz-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        height: 5%
    }

    .mainPage header .logo img {
        height: 6vh
    }

    .mainPage header .logoformatch {
        margin: 0;
        -moz-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        height: 5%
    }

    .mainPage header .logoformatch img {
        height: 6vh
    }

    .mainPage header .logoformatch2 {
        display: none
    }

    .mainPage header .links {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        border: 1px solid transparent;
        -ms-flex-pack: end;
        -moz-justify-content: flex-end;
        justify-content: flex-end
    }

    .mainPage header .link-item, .mainPage header .links {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex
    }

    .mainPage header .link-item {
        padding-left: 1em;
        -ms-flex-pack: justify;
        -moz-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    .mainPage header .link-item img {
        height: 6vh
    }

    .mainPage main {
        -moz-flex: 12 0 auto;
        -ms-flex: 12 0 auto;
        flex: 12 0 auto;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        padding-top: 1vh
    }

    .mainPage main, .mainPage main .content-container {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: stretch;
        -moz-align-items: stretch;
        align-items: stretch
    }

    .mainPage main .content-container {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-pack: stretch;
        -moz-justify-content: stretch;
        justify-content: stretch;
        position: relative
    }

    .mainPage main .vjs-resize-manager {
        display: none
    }

    .mainPage main .left {
        position: relative;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -ms-flex-preferred-size: 8em;
        flex-basis: 8em;
        -ms-flex-pack: start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
    }
    .mainPage main .left+.left {
        width: auto;
    }

    /*手机边框改这个*/
    .mainPage main .left > .phone > img {
        z-index: 13;
        height: 100%;
        right: 0
    }

    .mainPage main .left > .phone > img, .mainPage main .left > .phone > video {
        position: absolute;
        display: block;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    /*手机图片改这个*/
    .mainPage main .left > .phone > video {
        top: 8.9%;
        height: 80%;
        right: 2.8%;
        z-index: 11;
        opacity: 0;
        border-radius: 5px;
        background-color: transparent
    }

    .mainPage main .left > .phone > #poster-img {
        position: absolute;
        height: 80%;
        right: 3%;
        z-index: 12;
        opacity: 0;
        border-radius: 5px
    }

    .mainPage main #video-audio, .mainPage main .left > .phone > #poster-img {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: block
    }

    /*video-audo改这个*/
    .mainPage main #video-audio {
        float: left;
        margin-right: -25px;
        padding-top: 5%;
        cursor: pointer;
        z-index: 20;
        display:none;
    }

    .mainPage main #video-audio-on {
        width: 20px;
        display: none
    }

    .mainPage main #video-audio-off {
        width: 20px;
        opacity: 0
    }

    .mainPage main .right {
        -moz-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        z-index: 10;
        -ms-flex-negative: 2;
        flex-shrink: 2;
        -ms-flex-preferred-size: 1em;
        flex-basis: 1em;
        padding-bottom: 3%;
        margin-left: 2em;
        -ms-flex-pack: stretch;
        -moz-justify-content: stretch;
        justify-content: stretch;
        -ms-flex-align: stretch;
        -moz-align-items: stretch;
        align-items: stretch
    }

    .mainPage .banner, .mainPage main .right {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .mainPage .banner {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: space-between;
        -moz-align-items: space-between;
        align-items: space-between;
        -ms-flex-align: start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        margin-left: 200px;
        padding-left: 6%;
        opacity: 0
    }

    .mainPage .banner, .mainPage .banner .banner-text {
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center
    }

    .mainPage .banner .banner-text {
        width: 600px;
        -moz-flex-grow: 10;
        -ms-flex-positive: 10;
        flex-grow: 10;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
    }

    .mainPage .banner .banner-text-normal {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        display: block;
        padding: 20px;
        border-radius: 5px;
    }

    .mainPage .banner .banner-text-normal > span {
        font-size: 4vw;
        font-family: avenir next;
        font-weight: 700;
        color: #413c4d
    }

    .mainPage .banner .banner-footer {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-align: end;
        -moz-align-items: flex-end;
        align-items: flex-end;
        cursor: pointer;
        padding: 5px
    }

    .mainPage .banner .banner-footer > a > img {
        background-color: #fff;
        border-radius: 5px;
        margin: 15px
    }

    .mainPage .footer, .mainPage footer {
        position: relative;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        z-index: 15
    }

    .mainPage .menu-footer {
        background-image: linear-gradient(to right, #6950fb, #b83af3);
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        position: fixed;
        bottom: -10em;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .mainPage .menu-footer a, .mainPage .menu-footer a:hover {
        color: #fff
    }

    .mainPage .menu-footerformatch {
        border-top: 25px solid #3e9fff;
        border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -webkit-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -o-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        position: fixed;
        bottom: -10em;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .mainPage .menu-footerformatch a, .mainPage .menu-footerformatch a:hover {
        color: #fff
    }

    .mainPage .footer-item {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        color: #fff;
        font-size: 1.1em;
        font-family: avenir medium;
        text-decoration: none;
        padding: 10px
    }

    .mainContent header {
        position: relative;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        background-image: green;
        min-height: 90px;
        color: #fff;
        width: 100%;
        padding-top: 20px
    }

    .mainContent header, .mainContent header .menu {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    .mainContent header .menu {
        position: inherit;
        border: 1px solid transparent;
        padding: 5px;
        margin-left: 50px;
        margin-right: 50px;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-pack: start;
        -moz-justify-content: flex-start;
        justify-content: flex-start
    }

    .mainContent header .logo {
        width: 100%;
        margin: 0;
        height: 5%
    }

    .mainContent header .logo img {
        height: 6vh
    }

    .mainContent header .logoformatch {
        width: 100%;
        margin: 0;
        height: 5%
    }

    .mainContent header .logoformatch img {
        height: 6vh
    }

    .mainContent header .logoformatch2 {
        display: none
    }

    .mainContent header .links {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        border: 1px solid transparent;
        -ms-flex-pack: end;
        -moz-justify-content: flex-end;
        justify-content: flex-end
    }

    .mainContent header .link-item, .mainContent header .links {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex
    }

    .mainContent header .link-item {
        padding-left: 1em;
        -ms-flex-pack: justify;
        -moz-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center
    }

    .mainContent header .link-item img {
        height: 6vh
    }

    .mainContent main {
        -moz-flex: 12 0 auto;
        -ms-flex: 12 0 auto;
        flex: 12 0 auto;
        flex-direction: column;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        padding: 10px
    }

    .mainContent main, .mainContent main .content {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center
    }

    .mainContent main .content {
        -ms-flex-align: start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 80%
    }

    .mainContent main .content h2 {
        font-size: 2em;
        color: #ffffff;
        font-family: avenir demi;
        margin-top: 25px
    }

    .mainContent main .content h4 {
        font-size: 1.2em;
        color: #ffffff;
        font-family: avenir demi;
        margin-top: 30px
    }

    .mainContent main .content .text {
        font-size: 1em;
        color: #ffffff;
        font-family: avenir regular;
        margin-top: 20px;
        text-align: justify
    }

    .mainContent main .content .text p {
        font-family: avenir regular
    }

    .mainContent main .content .text ul {
        list-style-type: none;
        padding: 0
    }

    .mainContent main .content .text li {
        padding-left: 10px
    }

    .mainContent main .float-menu {
        width: 100%;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 50px
    }

    .mainContent main .float-menu .menu-list {
        position: relative;
        display: inline;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        width: 40%
    }

    .mainContent main .float-menu .menu-list .menu-item {
        list-style-type: none;
        font-family: avenir medium;
        font-size: 1.2em;
        text-align: center;
        cursor: pointer;
        padding: 0 100;
        width: 50%;
        margin: 0
    }

    .mainContent main .float-menu .menu-list #menu-item-underline {
        position: absolute;
        width: 50%;
        height: 3px;
        border: none;
        bottom: 0;
        left: 0;
        transition: .5s
    }

    .mainContent main .float-menu .menu-list #menu-item-underline hr {
        height: 3px;
        border: 0;
        background-color: #3e9fff;
        width: 60%;
        margin: auto
    }

    .mainContent main .float-menu .menu-list .active {
        color: #3e9fff;
        font-family: avenir next
    }

    .mainContent main .matchcontent {
        position: relative;
        width: 100%;
        margin-top: 4%;
        text-align: center
    }

    .mainContent main .matchcontent .title {
        color: #c6bfbd;
        font-size: 6vh;
        font-family: avenir demi
    }

    .mainContent main .matchcontent .matchcounts {
        color: #413c4d;
        font-size: 15vh;
        font-family: avenir next
    }

    .mainContent footer {
        margin-top: 100px;
        position: relative;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .mainContent .menu-footer {
        border-top: 25px solid #3e9fff;
        border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -webkit-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -o-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        bottom: -50px
    }

    .mainContent .menu-footer a, .mainContent .menu-footer a:hover {
        color: #fff
    }

    .mainContent .menu-footerformatch {
        border-top: 25px solid #3e9fff;
        border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -webkit-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -moz-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        -o-border-image: url(http://www.omegle.ly/images/wave.svg) 40 38 27 22 repeat;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: center;
        -moz-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 60px;
        bottom: -5px
    }

    .mainContent .menu-footerformatch a, .mainContent .menu-footerformatch a:hover {
        color: #fff
    }

    .mainContent .footer-item {
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        color: #fff;
        font-size: 1.1em;
        font-family: avenir demi;
        text-decoration: none;
        padding: 10px
    }

    main > .content-container > .left {
        width:60%;
    }

    .left > .banner {
        height:100%;
    }

    .left > .banner > .banner-text {
        margin-left:30%;
    }

    .mainPage main .left > .phone {
        right: 0;
        position: absolute;
        width: 70%;
        height: 80%;
        opacity: 0;
        padding: 2px;
        margin-right:35%;
        margin-top:5%;
    }

    .background-img img {
        position:fixed;
        left:0;
        bottom:0;
    }
}
